/*Position, Size, Shape, Font, Color*/

* {
	margin: 0px;
	padding:0px;
	font-family: "Raleway";
	text-decoration: none;
}

body {
	background-color: rgb(250 250 250);
}

header, footer {
	display: flex;
	padding: 20px;
	outline-offset: 3px;
	outline-width: 2px;
	outline-style: solid;
	border-radius: 10px;
	box-shadow: 0px 0px 20px rgb(0 0 0);
	background-image: linear-gradient(to right, rgb(0 100 250), rgb(0 250 100));
	outline-color: rgb(250 250 250);

}

header {
	margin: 10px 10px 5px 10px;
}

footer {
	margin: 5px 10px 10px 10px;
}

header, footer, nav, a {
	color: rgb(250 250 250);
}

a {
	display: flex;
}

h1, h2, h3, h4, h5, summary, .button {
	font-family: "Raleway Bold";
}

h1 {
	font-size: 32;
}

h2 {
	font-size: 24;
}

h3, summary {
	font-size: 18;
}

p, h4 {
	font-size: 16;
}

main {
	margin: auto;
	padding: 20px;
	width: 70%;
}

section {
	display: flex;
	flex-direction: row;
}

aside {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
}

iframe {
	margin: 20px 0px 20px 0px;
	height: 250px;
	width: 100%;
	border-style: none;
	border-radius: 10px;
}

details {
	margin: 20px 0px 20px 0px;
	padding: 20px;
	outline-offset:-2px;
	outline-width: 2px;
	outline-style: solid;
	border-radius: 10px;
	outline-color: rgb(0 0 0);
}

details p {
	margin-bottom: 20px;
}

nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

nav.button {
	width: 100%
}

.logo {
	color: rgb(0 250 100);
}

.left {
	margin-right: 10px;
}

.right {
	margin-left: 10px;
}

.special {
	font-style: unset;
	font-family: "Raleway Medium";
	color: rgb(0 250 100);
}

.specialbox {
	padding: 20px;
	margin: 20px 0px 20px 0px;
	outline-style: solid;
	outline-width: 2px;
	outline-offset: -2px;
	outline-color: rgb(0 250 100);
	border-radius: 10px;
}

.sidemap {
	height: 100%;
	width: 30vw;
	margin: 0px;
}

.button {
	display: block;
	padding: 20px;
	margin: 5px;
	outline-style: solid;
	outline-width: 2px;
	outline-offset: 3px;
	border-radius: 10px;
	outline-color: rgb(250 250 250);
	box-shadow: 0px 0px 20px rgb(0 0 0);
	background-image: linear-gradient(to right, rgb(0 100 250), rgb(0 250 100));
}

.button:hover {
	outline-width:5px;
	outline-offset: 0px;
}

::selection {
	color: rgb(250 250 250);
	background: rgb(0 250 100);
}

@media screen and (max-width: 800px) {
	header {
		margin: 25px 25px 5px 25px;
	}
	
	footer {
		margin: 5px 25px 25px 25px;
	}
	
	main {
		width: unset;
	}
	header h1 {
		font-size: 24px;
	}
}

@media screen and (max-width: 1100px) {
	section {
		width: unset;
		flex-direction: column;
	}
	
	aside {
		margin: 20px 0px 0px 0px;
		flex-direction: column-reverse;
	}
	
	aside img {
		height: unset;
		width: 100%;
	}
	
	header h1 {
		font-size: 24;
	}
}

@font-face {
	font-family: "Raleway Bold";
	font-weight: 800;
	src: url("https://fonts.gstatic.com/s/raleway/v28/1Ptug8zYS_SKggPNyC0ITw.woff2");
}

@font-face {
	font-family: "Raleway Medium";
	font-weight: 600;
	src: url("https://fonts.gstatic.com/s/raleway/v28/1Ptug8zYS_SKggPNyC0ITw.woff2");
}

@font-face {
	font-family: "Raleway";
	font-weight: 400;
	src: url("https://fonts.gstatic.com/s/raleway/v28/1Ptug8zYS_SKggPNyC0ITw.woff2");
}
